In [1]:
import pandas as pd
df = pd.read_csv("flickr_annotations_30k.csv")

In [2]:
df

,raw,sentids,split,filename,img_id
0,"[""Two young guys with shaggy hair look at thei...","[0, 1, 2, 3, 4]",train,1000092795.jpg,0
1,"[""Several men in hard hats are operating a gia...","[5, 6, 7, 8, 9]",train,10002456.jpg,1
2,"[""A child in a pink dress is climbing up a set...","[10, 11, 12, 13, 14]",train,1000268201.jpg,2
3,"[""Someone in a blue shirt and hat is standing ...","[15, 16, 17, 18, 19]",train,1000344755.jpg,3
4,"[""Two men, one in a gray shirt, one in a black...","[20, 21, 22, 23, 24]",train,1000366164.jpg,4
...,...,...,...,...,...
31009,"[""Woman writing on a pad in room with gold, de...","[155045, 155046, 155047, 155048, 155049]",train,997338199.jpg,31009
31010,"[""A person in a red shirt climbing up a rock f...","[155050, 155051, 155052, 155053, 155054]",train,997722733.jpg,31010
31011,"[""Two male construction workers are working on...","[155055, 155056, 155057, 155058, 155059]",train,997876722.jpg,31011
31012,"[""An older busker in glasses plays an Eastern ...","[155060, 155061, 155062, 155063, 155064]",train,99804383.jpg,31012
31013,"[""A man in shorts and a Hawaiian shirt leans o...","[155065, 155066, 155067, 155068, 155069]",train,998845445.jpg,31013

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31014 entries, 0 to 31013
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   raw       31014 non-null  object
 1   sentids   31014 non-null  object
 2   split     31014 non-null  object
 3   filename  31014 non-null  object
 4   img_id    31014 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.2+ MB

In [4]:
import numpy as np

train_df = pd.read_csv("train.csv")
captions = train_df["caption"].tolist()
caption_lengths = [len(caption.split()) for caption in captions]
print("Max length:", max(caption_lengths))
print("95th percentile:", np.percentile(caption_lengths, 95))

Max length: 78
95th percentile: 22.0

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145000 entries, 0 to 144999
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   image_path  145000 non-null  object
 1   caption     145000 non-null  object
dtypes: object(2)
memory usage: 2.2+ MB

In [9]:
test_df = pd.read_csv("test.csv")

In [11]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_path  5000 non-null   object
 1   caption     5000 non-null   object
dtypes: object(2)
memory usage: 78.3+ KB

In [12]:
val_df = pd.read_csv("val.csv")

In [13]:
val_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5070 entries, 0 to 5069
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_path  5070 non-null   object
 1   caption     5070 non-null   object
dtypes: object(2)
memory usage: 79.3+ KB